apparmor 4.1.0
application-utility 1.4.0
attrs 24.1.0
black 25.1.0
btrfsutil 6.14
certifi 2025.4.26
cffi 1.17.1
charset-normalizer 3.4.2
click 8.1.8
colorama 0.4.6
cryptography 44.0.2
dbus-python 1.4.0
distlib 0.3.9
docopt 0.6.2
filelock 3.18.0
gufw 24.4.0
idna 3.10
keyutils 0.6
legacy-cgi 2.6.3
lensfun 0.3.4
LibAppArmor 4.1.0
lightdm-gtk-greeter-settings 1.2.3
menulibre 2.4.0
mugshot 0.4.3
mypy_extensions 1.0.0
nftables 0.1
npyscreen 4.10.5
packaging 25.0
pacman_mirrors 4.27
pathspec 0.12.1
pexpect 4.9.0
pillow 11.2.1
pipenv 2025.0.2
platformdirs 4.3.6
psutil 7.0.0
ptyprocess 0.7.0
pycairo 1.28.0
pycparser 2.22
PyGObject 3.52.3
pyxdg 0.28
PyYAML 6.0.2
requests 2.32.3
smbus 1.1
udiskie 2.5.7
ufw 0.36.2
urllib3 2.4.0
uv 0.7.3
virtualenv 20.28.0
virtualenv-clone 0.5.7
wheel 0.45.1

pip~=25.1.1
attrs~=25.3.0
pyOpenSSL~=25.1.0
cryptography~=45.0.3
filelock~=3.18.0
Scrapy~=2.13.1
fake-useragent~=2.2.0
yarl~=1.20.0
psycopg2~=2.9.10
itemadapter~=0.11.0